# Copy to .env and fill in secrets (mix phx.gen.secret for SECRET_KEY_BASE)

MIX_ENV=prod
PHX_SERVER=true

PHX_HOST=localhost
PORT=4000

SECRET_KEY_BASE=
DATABASE_PATH=priv/db/voyager_prod.db

POOL_SIZE=5

# Telemetry server push URL
TELEMETRY_PUSH_URL=http://127.0.0.1:3100/loki/api/v1/push
