.app {
  display: grid;
  grid-template-rows: var(--topbar-h) 1fr var(--statusbar-h);
  height: 100vh;
}

.app-main {
  display: grid;
  grid-template-columns: var(--sidebar-w) 1fr;
  overflow: hidden;
}

.app-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
