@import 'tailwindcss' source(none);
@import './styles/font.css';
@import './styles/tokens.css';
@import './styles/reset.css';
@import './styles/number-input.css';
@import './styles/select.css';
@import './styles/supervision-tree.css';
@import './styles/tooltip.css';
@import './styles/sidebar.css';
@import './styles/utilities.css';

@source '../css';
@source '../js';
@source '../../lib/voyager_web';

@plugin '../vendor/icons';

@plugin 'daisyui' {
  themes: false;
}

@theme {
  --color-pinned: oklch(0.769 0.188 70.08);
  --color-port: #cccc33;
  --color-process-monitor: #af5ed1;
  --color-process-monitored-by: #4db8ff;
  --color-base-400: oklch(84.52% 0 0);
  --color-base-500: oklch(86.86% 0.022 252.51);
  --color-logo: oklch(0.2814 0.1517 263.58);
  --color-warning: #ffc020;
  --color-error: #fd6160;
  --color-success: #00bd65;
  --color-info: hsl(210, 100%, 56.27%);
  --color-success-bg: #e0f7ec;
  --color-warning-bg: #fff7e4;
  --color-error-bg: #feecec;
}

@plugin 'daisyui/theme' {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-pinned: oklch(0.769 0.188 70.08);
  --color-port: #cccc33;
  --color-process-monitor: #af5ed1;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0.003 247.858);
  --color-base-300: oklch(96% 0.007 247.896);
  --color-base-500: oklch(86.86% 0.022 252.51);
  --color-logo: oklch(0.2814 0.1517 263.58);
  --color-base-content: oklch(27% 0.041 260.031);
  --color-primary: oklch(0.2814 0.1517 263.58);
  --color-primary-content: oklch(1 0 0);
  --color-secondary: oklch(70% 0.04 256.788);
  --color-secondary-content: oklch(27% 0.041 260.031);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(1 0 0);
  --color-neutral: oklch(0.2814 0.1517 263.58);
  --color-neutral-content: oklch(1 0 0);
  --color-info-bg: hsl(212, 100%, 94.71%);
  --color-info-content: var(--color-base-content);
  --color-success-bg: #e0f7ec;
  --color-success-content: var(--color-base-content);
  --color-warning-bg: #fff7e4;
  --color-warning-content: var(--color-base-content);
  --color-error-bg: #feecec;
  --color-error-content: var(--color-base-content);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin 'daisyui/theme' {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-pinned: oklch(0.769 0.188 70.08);
  --color-port: #eeee55;
  --color-process-monitor: #d1a1e5;
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-500: oklch(42% 0.042 252.51);
  --color-logo: oklch(97.807% 0.029 256.847);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(0.8093 0.0798 225.54);
  --color-primary-content: oklch(27% 0.041 260.031);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(0.8093 0.0798 225.54);
  --color-accent-content: oklch(27% 0.041 260.031);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info-bg: hsl(213.7, 29.53%, 19.02%);
  --color-info-content: var(--color-neutral-content);
  --color-success-bg: #1a3630;
  --color-success-content: var(--color-neutral-content);
  --color-warning-bg: #393628;
  --color-warning-content: var(--color-neutral-content);
  --color-error-bg: #382b30;
  --color-error-content: var(--color-neutral-content);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
